---
hero:
  caption: ""
  headline: "PHOTOS"
  class: 'photos'
layout: default
permalink: /photos
---

<div class="row main-body-container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2 class="text-center">Griffin Cigar</h2>
    <div class="row row-eq-height align-item-center">
    {% assign image_files = site.static_files | where: "galleryImage", true %}
    {% for myimage in image_files %}
      {% assign loopindex = forloop.index | modulo: 4 %}
      <div class="col-xs-3 text-center">
        <div class="gallery-thumbnail-container">
          <a href="{{ myimage.path | absolute_url }}" data-lightbox="lounge_gallery" title="">
            <img src="{{ myimage.path | absolute_url }}" class="gallery-thumbnail margin-auto img-responsive" alt="">
          </a>
        </div>

        <!-- <img src="{{ myimage.path | absolute_url }}" class="margin-auto img-responsive"> -->
      </div>
      {% if loopindex == 0 %}
    </div><div class="row row-eq-height align-item-center">
      {% endif %}

    {% endfor %}
    </div>
  </div>
</div>

<div class="row main-body-container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2 class="text-center">First Annual Cigar Klatch</h2>
    <div class="row row-eq-height align-item-center">
    {% assign image_files = site.static_files | where: "firstCigarKlatchImage", true %}
    {% for myimage in image_files %}
      {% assign loopindex = forloop.index | modulo: 4 %}
      <div class="col-xs-3 text-center">
        <div class="gallery-thumbnail-container">
          <a href="{{ myimage.path | absolute_url }}" data-lightbox="first_cigar_klatch_gallery" title="">
            <img src="{{ myimage.path | absolute_url }}" class="gallery-thumbnail margin-auto img-responsive" alt="">
          </a>
        </div>

        <!-- <img src="{{ myimage.path | absolute_url }}" class="margin-auto img-responsive"> -->
      </div>
      {% if loopindex == 0 %}
    </div><div class="row row-eq-height align-item-center">
      {% endif %}

    {% endfor %}
    </div>
  </div>
</div>
