<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ "/" | absolute_url }}" class="navbar-brand">
          <img src="{{ "/assets/images/logo-1.png" | absolute_url }}" alt="Brand Logo">
        </a>
      </div>

      <div id="navbar-collapse-1" class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ "/" | absolute_url }}">Welcome</a></li>
          <li><a href="{{ "/cigars" | absolute_url }}">Cigars</a></li>
          <li><a href="{{ "/accessories" | absolute_url }}">Accessories</a></li>
          <li><a href="{{ "/events" | absolute_url }}">Event Calendar</a></li>
          <li><a href="{{ "/drinks" | absolute_url }}">Drinks</a></li>
          <li><a href="{{ "/photos" | absolute_url }}">Photos</a></li>
          <li><a href="{{ "/contact" | absolute_url }}">Contact Us</a></li>
        </ul> <!-- /.nav.navbar-nav -->
      </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>
</div>
