.hero {
  background: {
    color:    #000;
    position: center center;
    size:     cover;
  }
  color:      #FFF;
  margin:     0;
  padding:    0;
  text-align: center;

  @each $page, $image in ('lounge', 'lounge.jpg'), ('cigars', 'cig-1.jpg'), ('accessories', 'acc.jpg'), ('events', 'events-1.jpg'), ('drinks', 'drinks-1.jpg'), ('contact', 'IMG_8002-1.jpg') {
    &.hero-image-#{$page} {
      background-image: url(/assets/images/#{$image});
    }
  }

  h1 {
    font-size:      66px;
    letter-spacing: 5px;
    margin-top:     0;
    padding-top:    165px;
  }

  .caption {
    font-size:      22px;
    padding-bottom: 188px;
  }
}
